.menu-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 70px 20px 20px 20px;
}

.menu-container {
    padding: 15px 15px 15px 15px;
    background-color: #e4e2d3;
}

.menu-heading {
    color: var(--theme-color);
    border-bottom: 1px solid;
}

.menu-title {
    font-family: 'Montserrat_medium';
    margin-top: 25px;
}

.menu-para {
    font-family: 'Montserrat_light_italic';
    margin-left: 10px;
}

.menu-aside-container {
    margin: 14px;
}

.aside-img-wrap {
    display: grid;
    grid: 1fr 1fr / 1fr 1fr;
    gap: 15px;
    margin-top: 20px;
}

.aside-img {
    width: 100%;
    max-width: 200px;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 800px) {
    .menu-aside-container {
        margin: 50px 14px 50px 14px;
    }
}

@media only screen and (max-width: 600px) {
    .menu-aside-container {
        margin: 50px 14px 50px 14px;
    }

    .menu-heading {
        font-size: 1.5rem;
    }

    .menu-para {
        font-size: 1rem;
    }

    .menu-aside-heading {
        font-size: 1.5rem;
    }

    .menu-aside-para {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 400px) {
    .menu-main {
        margin: 50px 20px 20px 20px;
    }

    .menu-aside-container {
        margin: 50px 14px 50px 14px;
    }

    .menu-heading {
        font-size: 1.5rem;
    }

    .menu-para {
        font-size: 1rem;
    }

    .menu-aside-heading {
        font-size: 1.5rem;
    }

    .menu-aside-para {
        font-size: 1rem;
    }
}