/* index */

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header .home-link {
    color: red;
}

header .menu-link {
    color: green;
}

header .about-link {
    color: blue;
}

/* menu */

.menu-container {
    display: flex;
    justify-content: center;
}

.menu-heading {
    color: greenyellow;
}

/* about */

.about-container {
    display: flex;
    justify-content: center;
}

.about-heading {
    color: greenyellow;
}