@font-face {
    font-family: 'Montserrat_medium';
    src: url('./montserrat_medium.woff2') format('woff2'),
      url('./montserrat_medium.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

*,
*:before,
*:after { 
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

:root {
    --body-bg-color: #f9f6e7;
}

body {
    min-height: 100vh;
    background-color: var(--body-bg-color);
    font-family: 'Montserrat_medium';
}

/* index */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}

header .logo {
    font-size: 1.5rem;
    margin: 30px;
}

header .link-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .link-container > * {
    font-size: 1.2rem;
    margin: 15px;
    padding: 15px;
}

header .link-container > *:hover {
    background-color: rgb(245, 58, 58);
    color: var(--body-bg-color);
    cursor: pointer;
}

/* home */

.home-container {
    display: flex;
    justify-content: center;
}

.home-heading {
    color: greenyellow;
}

/* menu */

.menu-container {
    display: flex;
    justify-content: center;
}

.menu-heading {
    color: greenyellow;
}

/* about */

.about-container {
    display: flex;
    justify-content: center;
}

.about-heading {
    color: greenyellow;
}