@font-face {
    font-family: 'Montserrat_medium';
    src: url('./montserrat_medium.woff2') format('woff2'),
      url('./montserrat_medium.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat_bold';
    src: url('./montserrat_bold.woff2') format('woff2'),
      url('./montserrat_bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat_light_italic';
    src: url('./montserrat_light_italic.woff2') format('woff2'),
      url('./montserrat_light_italic.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

*,
*:before,
*:after { 
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

:root {
    --body-bg-color: #f9f6e7;
    --theme-color: rgb(245, 58, 58);
}

body {
    min-height: 100vh;
    background-color: var(--body-bg-color);
    font-family: 'Montserrat_medium';
}

#content {
    min-height: 100vh;
}

/* index */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}

header .logo {
    font-size: 1.5rem;
    margin: 30px;
}

header .link-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .link-container > * {
    font-size: 1.2rem;
    margin: 15px;
    padding: 15px;
}

header .link-container > *:hover {
    background-color: var(--theme-color);
    color: var(--body-bg-color);
    cursor: pointer;
}

header .link-container > .active-module {
    border-bottom: 1px solid var(--theme-color);
    padding-bottom: 14px;
}
/* home */

.home-main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* first section */

.home-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px 20px 0px 20px;
}

.home-img-wrap {
    position: relative;
    width: 100%;
    max-width: 450px;
    height: auto;
    margin: 20px 20px 0px 20px;
}

.home-img-wrap::after {
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%; 
    height: 100%;
    background: linear-gradient(to right, rgba(0,0,0,0.0) 60%, var(--body-bg-color) 100%);
    box-shadow: -20px 0px 20px -20px black;
}

.home-img {
    max-width: 100%;
}   

.home-text-container {
    display: flex;
    flex-direction: column;
    margin: 20px 20px 0px 20px;
}

.home-heading {
    font-size: 3.5rem;
    color: black;
    white-space: pre-line;
}

.home-paragraph {
    font-size: 1rem;
    color: var(--theme-color);
    white-space: pre-line;
}

/* second section */

.home-section2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0px 20px 20px 20px;
}

.home-text-container2 {
    display: flex;
    flex-direction: column;
}

.home-img-wrap2 {
    position: relative;
    width: 100%;
    max-width: 450px;
    height: auto;
}

.home-img-wrap2::after {
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%; 
    height: 100%;
    background: linear-gradient(to left, rgba(0,0,0,0.0) 60%, var(--body-bg-color) 100%);
    box-shadow: 20px 0px 20px -20px black;
}

/* menu */

.menu-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 70px 20px 20px 20px;
}

.menu-container {
    padding: 15px 15px 15px 15px;
    background-color: #e4e2d3;
}

.menu-heading {
    color: var(--theme-color);
    border-bottom: 1px solid;
}

.menu-title {
    font-family: 'Montserrat_medium';
    margin-top: 25px;
}

.menu-para {
    font-family: 'Montserrat_light_italic';
    margin-left: 10px;
}

.menu-aside-container {
    margin: 14px;
}

.aside-img-wrap {
    display: grid;
    grid: 1fr 1fr / 1fr 1fr;
    gap: 15px;
    margin-top: 20px;
}

.aside-img {
    width: 100%;
    max-width: 200px;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

/* about */

.about-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-height: 100vh;
    background-image: url('./sunset_boats.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--body-bg-color);
}

.about-main::after {
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%; 
    height: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.0) 90%, var(--body-bg-color) 100%);
    
}

.about-heading {
    margin-top: 40px;
    color: black;
    font-family: 'Montserrat_bold';
    font-size: 3rem;
}

.about-paragraph {
    margin-top: 25px;
    font-size: 1.5rem;
    font-family: 'Montserrat_bold';
    color: var(--theme-color);
}

.about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--body-bg-color);
}

.about-section-heading {
    margin: 160px 30px 30px 30px;
    font-size: 2.5rem;
    font-family: 'Montserrat_bold';
}

.about-history-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.about-text-container {
    display: flex;
    flex-direction: column;
    margin: 40px;
    max-width: 400px;
}

.about-text-heading {
    margin-bottom: 15px;
    border-bottom: 1px solid var(--theme-color);
}

.about-img-wrap {
    width: 100%;
    max-width: 550px;
    height: auto;
    margin: 40px;
    box-shadow: 25px -25px #cfcfc2;
}


.about-img {
    max-width: 100%;
}

/* second row */

.about-history-container2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 120px 0px 120px 0px;
}

.about-text-container2 {
    display: flex;
    flex-direction: column;
    margin: 40px;
    max-width: 400px;
}

.about-text-heading2 {
    margin-bottom: 15px;
    border-bottom: 1px solid var(--theme-color);
}

.about-img-wrap2 {
    width: 100%;
    max-width: 550px;
    height: auto;
    margin: 40px;
    box-shadow: -25px -25px 0px 1px #cfcfc2;
}

.about-img2 {
    max-width: 100%;
}